@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
}

body {
    background-color: #3b4664;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    width: 50%;
    
}

h1 {
    color: #fff;
    font-size: 17px;
    font-weight: 700;
}

.theme {
    font-size: 10px;
    font-weight: 700;
    color: white;
}

.display {
    font-weight: 700;
    font-size: 32px;
    width: 100%;
    max-width: 400px;
    text-align: right;
    border-radius: 10px;
    padding: 1.5rem;
    background-color: #181f33;
    color: #fff;
    margin-bottom: 1rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px; 
    width: 100%;
    max-width: 400px;
}

button {
    width: 100%;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    color: #434a59;
    background-color: #eae3db;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 0 0 #b4a497;
    cursor: pointer;
}

button:hover {
    background-color: #d4cec7;
}

#delete {
    background-color: #647299;
    color: #fff;
    box-shadow: 0 4px 0 0 #404e73;
}

#reset {
    grid-column: span 2; 
    background-color: #647299;
    color: #fff;
    box-shadow: 0 4px 0 0 #404e73;
}

#equal {
    grid-column: span 2; 
    background-color: #ff0000;
    color: #fff;
    box-shadow: 0 4px 0 0 #92261a;
}

button:active {
    box-shadow: 0 2px 0 0 #b4a497;
    transform: translateY(2px); 
}


@media screen and (min-width: 321px) {
    header {
        width: 10%;
    }

    h1 {
        font-size: 28px;
    }

    .theme {
        font-size: 12px;
    }

    .display {
        font-size: 40px;
    }

    .grid-container {
        max-width: 400px;
    }

    button {
        height: 64px;
        font-size: 20px;
    }

    #delete, #reset, #equal {
        font-size: 18px;
    }
}
